.bar{
  display: flex;
  height: 5rem;
  width: 100vw;
  background-color: #364E68;
  user-select: none;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  overflow: hidden;
  position: relative;
  min-width: 75rem;
}

.logout-button{
  display: flex;
  flex-wrap: wrap;
  width: 7rem;
  height: 3rem;
  min-width: 7rem;
  margin: 1rem;
  border: 0;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #98CCD3;
  background-color: #364E68;
  cursor: pointer;
  transition: ease-in-out background-color 200ms;
  &:hover{
    background-color: #48b3cb;
  }
}
p{
  font-family: "Gill Sans MT Ext Condensed Bold", sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 3rem;
  flex-wrap: wrap;
  min-width: max-content;
  color: #98CCD3;
}
svg{
  width: 4rem;
  height: 4rem;
  margin: 1rem;
  min-width: 4rem;
  fill: #98CCD3!important;
}
.user-icon{
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  font-weight: bold;
}
.user-details{
  display: flex;
  align-items: center;
  flex-direction: row;
 margin-left: auto;
}
.user-name{
  font-family: "Gill Sans MT Ext Condensed Bold", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #98CCD3;
  min-width: max-content;
}
